*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #044168
}
.box{
    width: 50rem;
    height:25rem;
    background: rgba(250, 250, 250, 0.8);
    position: relative;
    overflow: hidden;
}
.sky{
    background: rgba(128, 126, 126, 0.4);
    width: 100%;
    height: 25%;
}
.life{
    width: 100%;
    height: 10%;
    background: cyan;
}
.land{
    background: rgba(66, 7, 7, 1);
    width: 10000%;
    height: 15%;
    border-top: 3px solid white;
    position: absolute;
    bottom: 0;
    animation: land 100000000s ease-in-out infinite;
    opacity: 1;
    z-index: 3;
}
@keyframes land{
    0%{
        right: 0;
    }
    100%{
        right:10000%;
    }
}
.dino{
    width: 500px;
    height: 300px;
    position: relative;
    top: 12%;
}
.animate{ 
    animation: up .5s ease infinite ;
}
@keyframes up{
     0%{
        bottom: 0;
    }
    30%{
        top: -100px;
    }
    70%{
       top: -100px;
    }
    100%{
       bottom: 20rem;
    }
}
.dhead{
    width: 50px;
    height: 50px;
    background: black;
    position: absolute;
    top: 2rem;
    left: 8rem;
}
.deye{
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 10%;
}
.dmouth{
    width: 20px;
    height: 10px;
    background: white;
    margin-left: 60%;
    margin-top: 20%;

}
.dbody{
    width: 50px;
    height: 100px;
    background: black;
    position: absolute;
    top: 3.5rem;
    left: 6rem;
}
.dtail{
    width: 50px;
    height: 20px;
    background: black;
    position: absolute;
    top: 8.5rem;
    left: 3rem;
}
.legs{
    position: relative;
}
.dlegs{
    width: 40px;
    height: 10px;
    background: black;
    transform: rotate(90deg);
    position: absolute;
    top: 10.5rem;
    left: 7rem;
}
.dlegs::before{
    content: '';
    width: 40px;
    height: 10px;
    background: black;
    position: absolute;
    left: 0rem;
    top: 2rem;
    z-index: 9;
}
.cactus{
    width: 10px;
    height: 40px;
    background: #044d04;
    position: absolute;
    top: 19rem;
    right: -19rem;
    z-index: 5;
    animation: cactus 3s linear  7s infinite;
}
@keyframes cactus{
    0%{
        right: 0%;
        
    }
    100%{
        right: 100%;
    }
}
.cact1{
    width: 10px;
    height: 70px;
    background: #4d0904;
    position: absolute;
    top: 17rem;
    right: -29rem;
    z-index: 5; 
    animation: cactus3 4s linear  14s infinite;
}
@keyframes cactus3{
    0%{
        right: 0%;
        
    }
    100%{
        right: 100%;
    }
}
.cact2{
    width: 10px;
    height: 70px;
    background: #35042d;
    position: absolute;
    top: 17rem;
    right: -20rem;
    z-index: 5;
    animation: cactus2 5s linear  20s infinite;
}
@keyframes cactus2{
    0%{

        right: 0;
    }
    100%{
        right: 100%;
    }
}
